@import '../../../app/mixinCommon';

.headerContainer {
  position: static !important;
  z-index: 1 !important;
}

.header {
  max-width: 1050px !important;

  &__logoContainer {
    display: flex;
    flex-grow: 1;

    & > * {
      @include user_select_none;

      font-weight: 700 !important;
      color: inherit;
      text-decoration: none;
    }
  }

  &__logo {
    font-size: 30px;
  }

  &__avatarContainer {
    position: relative;

    display: flex;
    align-items: center;
  }

  &__userName {
    @include user_select_none;

    cursor: pointer;

    margin: 0px 15px 0px 0px;

    text-decoration: underline;
  }

  &__pic {
    cursor: pointer;

    position: relative;

    overflow: hidden;

    width: 40px;
    height: 40px;

    border-radius: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.beforeElement {
  &::before {
    content: '';

    position: absolute;
    z-index: 2;

    width: 100vw;
    height: 100vh;
  }
}
