.Modal {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  background-color: rgb(0 0 0 / 40%);

  transition: 0.5s;
}

.Modal__Active {
  pointer-events: all;

  opacity: 1;
}

.Content {
  transform: scale(0.5);

  width: 400px;
  padding: 20px;

  background-color: white;
  border-radius: 12px;

  transition: 0.4s all;
}

.Content__Active {
  transform: scale(1);
}

.Close {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}
