@import '../../../common/styles/mixins/mixinCommon';

.searchContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  max-width: 570px;
}

.search {
  &__placeholder {
    @include user_select_none;

    cursor: text;

    position: absolute;
    z-index: 1;
    top: 12px;
    left: 35px;

    font-weight: 500;
    color: rgb(153 153 153 / 54.4%);

    transition: all ease 0.25s;
  }

  &__placeholderAnimate {
    transform: translate(50px, 0px);

    opacity: 0;
  }

  &__input {
    & > div {
      overflow: hidden;

      border-radius: 30px;

      & > input {
        z-index: 1;

        height: 19px;
        padding: 9px 9px 9px 35px;

        background: url('../../../assets/img/icons/search.svg') 12px center no-repeat;
      }

      & > fieldset {
        top: -4px;

        padding: 9px 9px 9px 35px;

        background: white;

        span {
          letter-spacing: 0 !important;
        }
      }
    }
  }
}
