.searchContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;

  max-width: 50%;
}

.search {
  &__title {
    font-weight: 600;
  }

  &__input {
    & > div {
      overflow: hidden;

      & > input {
        z-index: 1;

        height: 19px;
        padding: 9px 9px 9px 35px;

        background: url('../../../assets/img/icons/search.svg') 12px center no-repeat;
      }

      & > fieldset {
        top: -4px;

        padding: 9px 9px 9px 35px;

        background: white;

        span {
          letter-spacing: 0 !important;
        }
      }
    }
  }
}
