@mixin fontSettings($space, $family, $weight, $size, $height) {
  margin-top: $space;

  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

.ProfileContainer {
  clear: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;

  width: 413px;
  height: 360px;

  text-align: center;

  background: rgb(240, 240, 240);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);

  &__addPhoto {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: aqua;
    border: 1px solid white;
    border-radius: 50%;
  }

  &__title {

    @include fontSettings(15px, 'Montserrat', 600, 22px, 27px);
  }

  &__image {
    width: 96px;
    height: 96px;
    margin-top: 30px;
    padding-top: 40px;

    background-color: cornflowerblue;
    border-radius: 50%;
  }

  &__image img {
    width: 96px;
    height: 96px;

    border-radius: 50%
  }

  .nameContainer {
    display: flex;
    justify-content: center;
  }

  &__name {

    @include fontSettings(17px, 'Montserrat', 500, 20px, 24px);

    display: flex;
    display: inline;
    justify-content: center;

    width: 100%;
  }

  &__name h2 {
    float: left;

    margin-right: 10px;
  }

  &__edit {
    float: left;
  }

  &__email {

    @include fontSettings(14px, 'Montserrat', 400, 14px, 24px);

    margin-bottom: 29px;
  }

  &__arrow {
    float: left;

    margin-top: 3px;
  }

  &__logOutBtn {
    background-color: white;
  }

}

.backToPacks {
  float: left;

  width: 160px;
  height: 40px;
  margin-top: 20px;

  &__PacksLink {

    @include fontSettings(0px, 'Montserrat', 400px, 14px, 24px)
  ;

    float: left;}
}

.ProfileBox {
  display: flex;
  justify-content: center;

  width: 100%;
}