@import '../../common/styles/mixins/mixinCommon';

.profileContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: flex-start;

  width: 100%;
  height: 100%;
  padding: 60px 0px 0px 0px;

  text-align: center;
}

.profile {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    padding: 30px 40px;

    background: rgb(240 240 240);
    border-radius: 20px;
  }

  &__linkPacks {
    position: absolute;
    top: 24px;
    left: 0;

    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 24px;
    color: inherit;

    transition: all 0.2s ease;

    &:hover {
      color: white;
    }
  }

  &__arrow {
    margin: 0px 10px 0px 0px;
  }

  &__title {
    margin: 0px 0px 30px 0px;

    font-size: 26px;
    font-weight: 600;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__avatarBlock {
    position: relative;
  }

  &__pic {
    cursor: pointer;

    position: relative;

    overflow: hidden;

    width: 110px;
    height: 110px;

    border-radius: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__label {
    display: flex;
    justify-content: flex-end;

    margin-top: -20px;
  }

  &__avatarIcon {
    cursor: pointer;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 30px !important;
    height: 30px !important;
    padding: 4px;

    background: white url('../../assets/img/icons/camera.svg') 50%/80% no-repeat;
    border: 1px solid grey;
    border-radius: 30px !important;
  }

  &__userName {
    @include user_select_none;

    display: flex;
    align-items: center;

    height: 68.42px;

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  &__marker {
    cursor: pointer;

    margin: 0px 0px 0px 10px !important;

    color: grey;
  }

  &__userEmail {
    @include user_select_none;

    margin: 0px 0px 20px 0px;

    color: grey;
  }

  &__button {
    align-self: center;

    padding: 5px 20px !important;

    color: black !important;

    background: white !important;
  }

  &__buttonIcon {
    padding: 0 0 0 26px;

    background: url('../../assets/img/icons/logout.svg') 0% 50% no-repeat;
  }
}
