@import '../../../common/styles/mixins/mixinCommon';

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider {
  top: -2px;

  &__title {
    font-weight: 600;
    text-align: start;
  }

  &__block {
    @include user_select_none;

    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__number {
    font-size: 16px;
    font-weight: 500;
  }
}
