.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider {
  width: 155px !important;

  &__title {
    font-weight: 600;
  }

  &__block {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 36px;
    height: 36px;

    font-size: 16px;
    font-weight: 500;

    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
  }
}

.MuiSlider-markActive {
  box-shadow: unset !important;
}

.Mui-active {
  box-shadow: unset !important;
}
