.button {
  font-family: inherit !important;
  border-radius: 30px !important;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
  font-size: inherit !important;
  padding: 5px 30px !important;
}
