.button {
  padding: 5px 30px !important;

  font-family: inherit !important;
  font-size: 16px !important;
  text-transform: none !important;
  letter-spacing: 0.5px !important;

  border-radius: 30px !important;
}
