@import "../../../../common/styles/mixins/mixinCommon";
@include table_body_styles;

.CellContainer{
  -webkit-box-orient: horizontal !important;
  -webkit-align-content: center;
}
.PackName{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding-right: 50px;
}