@import '../../../../common/styles/mixins/mixinCommon';
@include table_body_styles;

.packImageWrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: 100%;
  padding: 16px;

  transition: 0.2s ease transform 0.2s;
}

.packName {
  transform: rotateX(-90deg);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease transform 0s;
}

.packImage {
  width: 80px;
  height: 55px;

  object-fit: cover;
  border: 1px solid rgb(128 128 128 / 67.2%);
}

.row {
  &:hover {
    .packImageWrapper {
      transform: rotateX(90deg) !important;

      transition: 0.2s ease transform 0s;
    }

    .packName {
      transform: rotateX(0) !important;

      transition: 0.2s ease transform 0.2s;
    }
  }
}

.cellContainer {
  //   transform: perspective(500px);

  -webkit-align-content: center;
  align-content: center;

  -webkit-box-orient: horizontal !important;
}

.tableCell {
  position: relative;
}
