@import '../../../common/styles/mixins/mixinCommon';
@import '../../../common/styles/mixins/mixinAdaptive';

.registration {
  @include adaptiveValue('padding', 30, 20, 430, 300, 1);

  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: 400px;

  text-align: center;

  background-color: #fff;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  @include auth_title_style;
}

.button {
  @include adaptiveValue('margin-bottom', 25, 15, 430, 300, 1);
  @include adaptiveValue('margin-top', 25, 10, 430, 300, 1);
}

.signInQuestion {
  @include adaptiveValue('margin-bottom', 10, 5, 430, 300, 1);

  font-weight: 500;
  color: grey;
}

.signInLink {
  font-size: 16px;
  font-weight: 500;
  color: blue;
  text-decoration: underline;
}
