.registration {
  align-self: center;
  max-width: 413px;
  padding: 25px 33px 42px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);

  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .title {
      font-size: 26px;
      font-weight: 600;
      line-height: 31.5px;
      text-transform: capitalize;
      margin-bottom: 41px;
    }

    .input {
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
      &:last-of-type {
        margin-bottom: 60px;
      }

      & input {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

    }

    .button {
      align-self: stretch;
      text-transform: capitalize !important;
      margin-bottom: 31px;
    }

    .signInQuestion {
      font-weight: 600;
      line-height: 24px;
      opacity: .5;
      margin-bottom: 11px;
    }

    .signInLink {
      text-transform: capitalize;
      text-decoration: underline;
      color: #366EFF;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}