@import '../../../app/mixinCommon';

.setPasswordContainer {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: 400px;
  padding: 30px;

  text-align: center;

  background: rgb(240 240 240);
  border-radius: 20px;
}

.setPassword {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include auth_title_style;
  }

  &__text {
    margin: 0px 0px 25px 0px;

    font-weight: 500;
    line-height: 25px;
    color: grey;
    text-align: start;
  }
}
