.setPasswordContainer {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  align-self: center;

  padding: 30px;

  text-align: center;

  background: rgb(240 240 240);
  border-radius: 20px;

  & > * {
    &::first-letter {
      text-transform: uppercase !important;
    }
  }
}
.setPassword {
  &__title {
    margin: 0 0 35px;

    font-size: 26px;
    font-weight: 600;
  }
  &__field {
    & > * {
      font-family: inherit !important;
      letter-spacing: inherit !important;
    }
  }
  &__text {
    margin: 0px 0px 40px 0px;

    font-weight: 500;
    line-height: 25px;
    color: grey;
    text-align: start;
    &::first-letter {
      text-transform: uppercase !important;
    }
  }
}
