.inputContainer {
  position: relative;
  top: 12px;

  display: flex;
  align-items: center;
}

.sendButton {
  cursor: pointer;

  position: absolute;
  top: 7px;
  right: -25px;

  width: 20px;
  height: 20px;

  background: url('../../../assets/img/icons/send.svg') 100% / contain no-repeat;
}

.userName {
  overflow: hidden;

  max-width: 260px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.marker {
  cursor: pointer;

  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 10px;

  background: url('../../../assets/img/icons/editPack.svg') 100% / contain no-repeat;
}

.errorButton {
  animation: animateErrorButton 0.4s ease forwards;
}
@keyframes animateErrorButton {
  0% {
    transform: translate(3px, 0px);

    background: url('../../../assets/img/icons/sendRed.svg') 100% / contain no-repeat;
  }

  10% {
    transform: translate(-3px, 0px);
  }

  20% {
    transform: translate(3px, 0px);
  }

  30% {
    transform: translate(-3px, 0px);
  }

  40% {
    transform: translate(3px, 0px);
  }

  50% {
    transform: translate(-3px, 0px);
  }

  60% {
    transform: translate(3px, 0px);
  }

  70% {
    transform: translate(-3px, 0px);
  }

  80% {
    transform: translate(3px, 0px);
  }

  90% {
    transform: translate(-3px, 0px);
  }

  100% {
    transform: translate(3px, 0px);

    background: url('../../../assets/img/icons/sendRed.svg') 100% / contain no-repeat;
  }
}
