.inputContainer {
  position: relative;
  top: 12px;

  display: flex;
  align-items: center;
}

.sendButton {
  cursor: pointer;

  position: absolute;
  top: 7px;
  right: -25px;

  color: grey;
}

.userName {
  text-transform: capitalize;
}

.marker {
  cursor: pointer;

  margin: 0px 0px 0px 10px !important;

  color: grey;
}

.errorButton {
  animation: animateErrorButton 0.4s ease forwards;
}
@keyframes animateErrorButton {
  0% {
    transform: translate(3px, 0px);

    color: red;
  }

  10% {
    transform: translate(-3px, 0px);
  }

  20% {
    transform: translate(3px, 0px);
  }

  30% {
    transform: translate(-3px, 0px);
  }

  40% {
    transform: translate(3px, 0px);
  }

  50% {
    transform: translate(-3px, 0px);
  }

  60% {
    transform: translate(3px, 0px);
  }

  70% {
    transform: translate(-3px, 0px);
  }

  80% {
    transform: translate(3px, 0px);
  }

  90% {
    transform: translate(-3px, 0px);
  }

  100% {
    transform: translate(3px, 0px);

    color: red;
  }
}
