@import '../../../common/styles/mixins/mixinCommon';
@import '../../../common/styles/mixins/mixinAdaptive';

.forgotPassword {
  @include adaptiveValue('padding', 30, 20, 430, 300, 1);

  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: 400px;

  text-align: center;

  background: white;
  border-radius: 20px;
}

.form {
  @include adaptiveValue('margin-bottom', 25, 15, 430, 300, 1);

  display: flex;
  flex-direction: column;

  margin: 0px 0px 25px 0px;
}

.help {
  @include adaptiveValue('margin-bottom', 25, 15, 430, 300, 1);

  font-weight: 500;
  line-height: 25px;
  color: grey;
  text-align: start;
}

.title {
  @include auth_title_style;
}

.forgotQuestion {
  @include adaptiveValue('margin-bottom', 10, 5, 430, 300, 1);

  font-weight: 500;
  line-height: 18px;
  color: grey;
}

.forgotLink {
  font-size: 16px;
  font-weight: 500;
  color: blue;
  text-decoration: underline;
}
