@import '../../../common/styles/mixins/mixinCommon';

.forgotPassword {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: 400px;
  padding: 30px;

  text-align: center;

  background: white;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  margin: 0px 0px 25px 0px;
}

.help {
  margin: 0px 0px 25px 0px;

  font-weight: 500;
  line-height: 25px;
  color: grey;
  text-align: start;
}

.title {
  @include auth_title_style;
}

.forgotQuestion {
  margin: 0px 0px 10px 0px;

  font-weight: 500;
  color: grey;
}

.forgotLink {
  font-size: 16px;
  font-weight: 500;
  color: blue;
  text-decoration: underline;
}
