.container {
  position: relative;
  z-index: 10;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  width: 100%;
  max-width: 400px;
  max-height: 90%;
  padding: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;

  background: white;
  border-radius: 20px;
}
