@import '../../../app/mixinCommon';

.loginContainer {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: 400px;
  padding: 30px;

  text-align: center;

  background: white;
  border-radius: 20px;
}

.login {
  &__title {
    @include auth_title_style;
  }

  &__form {
    display: flex;
    flex-direction: column;

    margin: 0px 0px 25px 0px;
  }

  &__blockRemember {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;

    margin: 0px 0px 15px 0px;

    font-weight: 500;
    @media (max-width: 390px) {
      justify-content: center;
    }
  }

  &__checkBoxBlock {
    margin-right: 0 !important;
    margin-left: -2px !important;
  }

  &__typography {
    @include user_select_none;

    font-weight: 500 !important;
  }

  &__forgotPassword {
    color: blue;
  }

  &__signUpBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    font-weight: 500;
    color: grey;
  }

  &__signUp {
    font-size: 16px;
    font-weight: 500;
    color: blue;
    text-decoration: underline;
  }
}

.checkbox {
  margin: 0 9px 0 0 !important;
  padding: 0 !important;
}
