@import '../../../common/styles/mixins/mixinCommon';
@import '../../../common/styles/mixins/mixinAdaptive';

.loginContainer {
  @include adaptiveValue('padding', 30, 20, 430, 300, 1);

  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: 400px;

  text-align: center;

  background: white;
  border-radius: 20px;
}

.login {
  &__title {
    @include auth_title_style;
  }

  &__form {
    display: flex;
    flex-direction: column;

    margin: 0px 0px 15px 0px;
  }

  &__blockRemember {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;

    margin: 0px 0px 15px 0px;

    font-weight: 500;
    @media (max-width: 390px) {
      justify-content: center;
    }
  }

  &__checkBoxBlock {
    margin-right: 0 !important;
    margin-left: -2px !important;
  }

  &__typography {
    @include user_select_none;

    font-weight: 500 !important;
  }

  &__forgotPassword {
    color: blue;
  }

  &__signUpBlock {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__text {
    margin: 0px 0px 5px 0px;

    font-weight: 500;
    line-height: 18px;
    color: grey;
  }

  &__textEmail,
  &__textPassword,
  &__notes {
    font-weight: 500;
    line-height: 18px;
    color: grey;
    text-align: start;
  }

  &__notesContainer {
    display: flex;
  }

  &__notes {
    @include user_select_none;

    cursor: pointer;

    color: blue;
    text-decoration: underline;
  }

  &__notesText {
    @include user_select_none;

    position: absolute;
    top: -40px;

    padding: 10px;

    font-weight: 500;
    line-height: 22px;
    text-align: start;

    background: white;
    border: 1px solid black;
    border-radius: 20px;
  }

  &__buttonsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttonSignIn {
    @include adaptiveValueImportant('padding-left', 30, 20, 430, 300, 1);
    @include adaptiveValueImportant('padding-right', 30, 20, 430, 300, 1);
  }

  &__signUp {
    @include adaptiveValue('padding-left', 30, 20, 430, 300, 1);
    @include adaptiveValue('padding-right', 30, 20, 430, 300, 1);

    display: flex;
    align-items: center;

    height: 38px;
    padding: 5px 30px;

    font-size: 16px;
    font-weight: 500;
    color: black;

    background: white;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
      rgb(0 0 0 / 12%) 0px 1px 5px 0px;

    transition: 0.2s all ease;

    &:hover {
      background: rgb(237 237 237);
    }
  }
}

.checkbox {
  margin: 0 9px 0 0 !important;
  padding: 0 !important;
}

.credentialsColor {
  font-weight: 600;
  color: blue;
}
