.checkEmailContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;

  width: 100%;
  max-width: 400px;
  padding: 30px;

  text-align: center;

  background: rgb(240 240 240);
  border-radius: 20px;
}

.checkEmail {
  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__img {
    align-self: center;

    width: 108px;
    height: 108px;
  }

  &__text {
    font-weight: 500;
    line-height: 25px;
    color: grey;
  }
}
