.switcherContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.switcher {
  &__title {
    font-weight: 600;
    text-align: start;
  }

  &__block {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
  }

  &__blockItem {
    width: 30px;
    padding: 0px 20px !important;

    font-size: 14px !important;
    color: inherit !important;
    text-align: center;
    text-transform: none !important;

    background: white !important;
  }
}

.active {
  color: white !important;

  background: #1b79ce !important;

  &:hover {
    background: #1b79ce;
  }
}
