.emptyTable {
  margin: 50px 0px 0px 0px;

  text-align: center;
}

//some common styles for modal

.ChildrenContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 12px;
}
.Close{
  margin: 5px 5px 20px 0px;
  display: flex;
  justify-content: flex-end;
}
