@import '../../../common/styles/mixins/mixinAdaptive';

.emptyTableTitle {
  margin: 50px 0px 0px 0px;

  text-align: center;
}

.ChildrenContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;

  background-color: white;
  border-radius: 12px;
}

.Close {
  display: flex;
  justify-content: flex-end;

  margin: 5px 5px 20px 0px;
}

.tablePacks {
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;

  width: 100%;

  background: white;
  border-radius: 5px;
  @media (max-width: 599px) {
    background: unset;
  }
}
