@import '../../../common/styles/mixins/mixinAdaptive';

.pageTitleBlockContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.pageTitleBlock {
  &__content {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }

  &__titleBlock {
    display: flex;
    align-items: center;
  }

  &__title {
    @include adaptiveValue('font-size', 25, 20, 599, 319, 1);

    font-weight: 600;
    word-break: break-word;
    @media (max-width: 599px) {
      text-align: center;
    }
  }
}

.filterButtonContainer {
  position: relative;

  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.filterButton {
  padding-right: 20px !important;

  color: black;

  background: white;

  &::before {
    content: '';

    position: absolute;
    top: 9px;
    left: 10px;

    width: 20px;
    height: 20px;

    background: url('../../../assets/img/icons/filterIcon.svg') no-repeat;
  }

  &:hover {
    background: rgb(236 236 236);
  }

  p {
    width: 90px;

    text-align: end;
  }
  @media (max-width: 599px) {
    min-width: unset !important;
    padding: 19px 20px !important;

    p {
      display: none;
    }
  }
}

.learnButton,
.addButton {
  min-width: 175px !important;
  padding-right: 10px !important;

  &::before {
    content: '';

    position: absolute;
    top: 8px;
    left: 9px;
  }

  p {
    white-space: nowrap;
  }
  @media (max-width: 599px) {
    min-width: unset !important;
    padding: 19px 20px !important;

    p {
      display: none;
    }
  }
}

.learnButton {
  &::before {
    width: 21px;
    height: 21px;

    background: url('../../../assets/img/icons/studyPackWhite.svg') no-repeat;
  }
}

.addButton {
  min-width: unset;

  &::before {
    width: 22px;
    height: 22px;

    background: url('../../../assets/img/icons/addIconWhite.svg') no-repeat;
  }
}
