.pageTitleBlockContainer {
  display: flex;
  flex-direction: column;
}

.pageTitleBlock {
  &__titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
  }
}
