@import '../../common/styles/mixins/mixinAdaptive';

.packsContainer {
  @include adaptiveValue('padding-top', 26, 10, 599, 320, 1);
  @include adaptiveValue('padding-bottom', 26, 10, 599, 320, 1);
  @include adaptiveValue('row-gap', 22, 10, 599, 320, 1);

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.packs {
  &__controlBlock {
    @include adaptiveValue('row-gap', 22, 10, 599, 320, 1);

    display: flex;
    flex-direction: column;
  }
}
