.backToPacks__linkPacks {
  position: relative;

  display: flex;
  align-items: center;
  align-self: flex-start;

  height: 26px;
  padding: 0px 10px 0px 30px;

  font-weight: 500;
  color: white;

  background: #1b79ce;
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;

  transition: all ease 0.2s;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);

    width: 20px;
    height: 20px;

    background: url('../../../assets/img/icons/backForwardWhite.svg') 50% no-repeat;
  }

  &:hover {
    background: #1668bd;
  }
}
