@import '../../../common/styles/mixins/mixinCommon';

.packsResetFilter {
  @include user_select_none;

  cursor: pointer;

  padding: 6px 10px;

  color: white;

  background: #1d7ccb;
  border-radius: 30px;

  transition: all 0.4s ease;

  &:hover {
    background: #1668bd;
  }
}
